body{
    margin:0 0 0 0;
    overflow-x: hidden;
    background-color: rgb(255, 245, 190);
    height:auto;
    min-height:100vh;
}
.header {
    display: flex;
    flex-direction: row;
    height:clamp(250px,50vw,800px);
    background-repeat: no-repeat;
    width:100%;
    justify-content: space-between;
    background-color:rgb(255, 217, 0) ;
    padding-bottom:10vw;
}
.headtitle {
    margin-left:4vw;
    text-align: left;
    align-self: center;
    font-family:Arial;
    font-size: clamp(20px,7vw,90px);
    font-weight: bold;
    color:white;
    width:50vw;
    animation: EaseIn 0.5s ease-in-out forwards;
 opacity:0;
 transform: translateY(10px);
   }
.headimage {
align-self: center;

}
   .headerimage {
    aspect-ratio:1/1;
    min-height:50px;
    height: 5vw;
    margin-right:0vw;
    animation: FadeIn 0.5s ease-out forwards;
    opacity:0;
    }
    @keyframes FadeIn {
        
        to{
            opacity:1;
            min-height: 150px;
            height:24vw;
            margin-right:4vw;
        }
    }
   section {
    display: flex;
    flex-direction: row;
    height:auto;
    width:100vw;
    justify-content: center;
    align-items: center;

   }
  

.container {
    
    display: flex;
    flex-direction: column;
 background-color: rgb(58, 166, 255) ;
 animation: EaseIn 0.5s ease-in-out forwards;
 justify-content: center;
 opacity:0;
 transform: translateY(20px);
 margin:-5vh 2vw 10vh 2vw;
 width:45vw;
 height:50vw;
 min-height: 250px;
position: relative;
 
}
.images {
    background-color: rgb(120, 194, 255);
    position: absolute;
    top:0;
    transform: translateY(-50%);
    border-radius: 50%;
    align-self: center;
     aspect-ratio: 1/1;
    width:50%;
   
}
.images2 {
      position: absolute;
    top:0;
    transform: translateY(-50%);
    background-color: rgb(120, 194, 255);
    border-radius: 50%;
    align-self: center;
    aspect-ratio: 1/1;
    width:50%
}
@keyframes EaseIn {
to {
    opacity:1;
    transform: translateY(0);
}
}

.text {
   text-align: center;
   margin-top:1vw;
    justify-self:center;
    font-family:Arial;
    font-size:  clamp(10px,2vw,90px);
    color:white;  
    padding:2vw;
    position:absolute;
    top:12vw;
}

ul {
    text-align: left;
}
footer {
    background-color: rgb(58, 166, 255) ;
    width:100%;
    height:6vw;
    min-height:50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.textfooter {
  margin-left:2vw;
   text-align: left;
    font-family:Arial;
    font-size:  clamp(11px,2vw,25px);
    color:rgb(255, 255, 255);  
    width:50%;
}
.socials {
    right:2vw;
    aspect-ratio: 1/1;
    height:5vw;
    max-height: 80px;
    min-height: 20px;
    margin-right:2vw;
    transition: transform 0.5s ease-out;
    display: inline-block;

}
.socials:hover {
    transform:scale(1.1);

}
.images {
    aspect-ratio:1/1;
    width:50%;
}

