body{
    margin:0 0 0 0;
}
.header {
    height:clamp(200px,20vw,800px);
    background: url("Images/Banner.jpg");
    background-repeat: no-repeat;
    background-color:rgb(31,31,31) ;
    width:100%;
    position:relative;
    align-content: center;
}
.headtitle {
    text-align: center;
    justify-self: center;
    font-family:Helvetica;
    font-weight:bold;
    font-size: clamp(20px,8vw,100px);
    color:white;
   }
   section {
    display: flex;
    flex-direction: row;
    margin: 5vw 0 5vw 0;
   }

.container {
border: 1vw solid rgb(206, 206, 206);
box-shadow: 2vw 2vw 0px rgba(0, 0, 0,0.5);
width:40%;
 margin: 0.5vw 5vw 0.5vw 5vw;
 background-color: rgb(65, 65, 65) ;
 padding: 1vw;
}
.title {
    text-align: center;
    align-self: center;
    justify-self:center;
    font-family:Helvetica;
    font-weight:bold;
    font-size:  clamp(20px,7vw,90px);
    color:white; 
}
.text {
   text-align: center;
    align-self: center;
    justify-self:center;
    font-family:Helvetica;
    font-weight:bold;
    font-size:  clamp(15px,2vw,90px);
    color:white;  
}