body{
    margin:0 0 0 0;
}
.header {
    height:clamp(200px,20vw,800px);
    background: url("Images/Banner.jpg");
    background-repeat: no-repeat;
    background-color:rgb(31,31,31) ;
    width:100%;
    position:relative;
    align-content: center;
}
.headtitle {
    text-align: center;
    justify-self: center;
    font-family:Helvetica;
    font-weight:bold;
    font-size: clamp(20px,8vw,100px);
    color:white;
   }